{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}

<div class="container p-6">
	<div class="row">
			<div class="col-12 text-center mt-3 mb-5">
				 <h1>Produit</h1>
			</div>
		</div>
   

    <table class="table table-danger ">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>ImageProduit</th>
                  <td> <img class="adminProduit" src="{{asset('upload/' ~  produit.imageProduit ) }}" alt="Hostinger" > </td>
            </tr>
            <tr>
                <th>TitreProduit</th>
                <td>{{ produit.titreProduit }}</td>
            </tr>
            <tr>
                <th>DescProduit</th>
                <td>{{ produit.descProduit }}</td>
            </tr>
            <tr>
                <th>PrixProduit</th>
                <td>{{ produit.prixProduit }}</td>
            </tr>
            <tr>
                <th>DateArrive</th>
                <td>{{ produit.dateArrive ? produit.dateArrive|date('Y-m-d') : '' }}</td>
            </tr>


        </tbody>
    </table>
   </div> 
<div class="d-grid gap-2 col-6 mx-auto">
    
    <button type="button" class="btn btn-outline-success"><a href="{{ path('app_admin_produit_index') }}">back to list</a></button>

  <br>
    <button type="button" class="btn btn-outline-success"><a href="{{ path('app_admin_produit_edit', {'id': produit.id}) }}">edit</a></button>

    {{ include('admin/admin_produit/_delete_form.html.twig') }}
    </div>
{% endblock %}
